* {
    box-sizing: border-box;
    margin: 0; padding: 0;
  }
  html {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    body {
      position: relative;     
      max-width: 1023px;     
  }
  main{
    font-family: 'Roboto', sans-serif; 
  }
  header{
    width: 100%;
    height: 62.5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header h1{
    left: 8.12%;
    right: 9.64%;
    top: 0%;
    bottom: -22.22%;
    font-family: 'Shrikhand';
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    /* identical to box height */
    text-align: center;
    /* Black */
    color:  #000000;
  }
 #im{
  width: 100%;
    background-repeat: no-repeat;  
    height: 275px;
    background-size: cover;
    background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
 }
 #im1{
  width: 100%;
  background-repeat: no-repeat;  
  height: 275px;
  background-size: cover;
  background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}
#im2{
  /*background-image: url(https://images.unsplash.com/photo-1585144570839-e429bb95ffb4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1147&q=80);*/
  background-image: url(../images/restaurants/louihansel-bis.jpg);
  width: 100%;
  background-repeat: no-repeat;  
  height: 275px;
  background-size: cover;
  
}
#im3{
  background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  width: 100%;
  background-repeat: no-repeat;
  height: 275px;
  background-size: cover;
}
 .paletteDuGout{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    margin-bottom: 0px;
    background: #F7F7F7;
    border-top-left-radius: 40px;
    border-top-right-radius:40px ;
    padding-top: 30px;
    margin-top: -70px;
    padding-left: 0;
    padding-right: 0;
 }
 .palette{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
 }
 section h2{
    font-family: 'Shrikhand';
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    line-height: 41px;
/* Black */
color: #101010;
}

.heart-icons {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  }
  
  .heart-icons i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }
  
  .heart-icons .fa-regular.fa-heart {
  color: black;
  }
  
  .heart-icons .fa-solid.fa-heart {
  color: transparent;
  transition: all 0.2s;
  }
  
  .heart-icons:hover .fa-regular.fa-heart {
  opacity: 0;
  }
  .heart-icons:hover .fa-solid.fa-heart {
  color: transparent;
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text; /* pour appliquer le dégradé seulement sur les parties textuelles de l'icône */
  -webkit-background-clip: text; /* pour une compatibilité avec les anciennes versions de navigateurs Webkit */
  -webkit-text-fill-color: transparent; /* pour masquer la couleur du texte de l'icône */
  transition: all 0.2s;
  }
  
  .fa-heart{
  font-size: 1.3em;
  }

 .entrees{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;

    color: #000000;
    padding-left: 20px;
    margin-top: 25px;
 }
 .trais{
    height: 3px;
    width: 43px;
    background-color: #99E2D0;
    margin-top: 5px;
    margin-left: 20px;
 }
 .buttons{
  display: flex;
  flex-direction: column; 
 }
 .B-3-4 {
  width: 100%;
  display: flex;
justify-content: left;
  align-items: normal; 
 }
 .B-3-4:hover{
  position: relative;

  & .price{
    margin-right: 50px; 
  }

  & .B-4{
    opacity: 1;

  }
 }
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  text-align: right;
}
.description{
  width: 287px;
  height: 19px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 15.0431px;
  line-height: 18px;
  
  color: #000000;

}

span{
  display: flex;
  justify-content: end;

} 


.B-4{
  width: 55px;
  height: 72px;
  display: flex;
  background-color: #99E2D0;
  margin-top: 20px;
  padding-top: 0px;
  margin-right: 12px;
  margin-left: -42px;
  opacity: 0;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 15.0431px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
 .B-3{
  margin-left: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 7px;
  width: 100%;
  height: 72px;
  border: none;
  margin-top: 20px;
  /* White */
  background: #FFFFFF;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 15.0431px;

 }
 h4{

  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
 }


p .fa-circle-check{
  color: #4ebdd0;
  text-align: center;
  margin-top: 24px;
  margin-left: 15px;
  font-size: 1.3em;
  background-clip: text;
  -webkit-text-fill-color: #ffffff;
}
article{
  margin-bottom: 30px;
} 
.B-5{
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
/* Shadow/Button */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: none;
  width: 186px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* White */
  color: #FFFFFF;
}
.B-5:hover{

    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
border-radius: 25px;
  
}



footer{
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0px;
  width: 100%;
  padding: 30px 20px;
/* Grey */
  background: #353535;
}
footer h4{  
  font-family: 'Shrikhand';
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;  
  color: #FFFFFF;
  margin-top: 10px;  
}
footer h5{
  left: 22px;
  top: calc(50% - 19px/2 - 40px);

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-top: 10px;
  color: #FFFFFF;
}
footer p{
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: white;
  margin-top: 10px;
}
footer i{
  margin-right: 7px;
}


@media only screen and (min-width : 1024px){ 
  html {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body{
    width: 100%;
  }

  #im{
      width: 100%;    
      background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
   
      height: 500px;
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 0;
      padding-right: 0;
}
#im1{
  width: 100%;
    
      background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 400px;
} 
section h2{
  margin-right: 30px;
} 
.paletteDuGout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 80%;
  margin-top: -35px;
  margin-left: auto;
  margin-right: auto;
  /*  width: calc(100%- 386px)*/
}
.B-3{
  width: 634px;
}
.B-4{
  margin-left: -50px;
  width: 59px;
  height: 72px;
  background: #99E2D0;
  border-radius: 0px 15px 15px 0px;  
}
p .fa-circle-check{
  margin-top: 24px;
  margin-left: 17px;
  background-clip: text;
  -webkit-text-fill-color: #ffffff;
}
footer{
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  gap: 60px;
  width: 100%;
} 
#bas-de-page{
  display: flex;
  flex-direction: row;
  gap: 25px;
}  
  }




